/*  */

*{
    color: white;
}

/*
===============================================
------------- header ---------------
===============================================
*/
.navbar{
    background-color: rgb(0, 0, 0);
}
li a:hover:not(.active) {
    background-color: #111;
    text-decoration: none;
}
.sa{
    box-shadow: 0 0px 50px 0 rgba(0, 0, 0, 0.8), 0 0px 40px 0 rgba(0, 0, 0, 0.20);
}
.active {
    background-color: rgb(255, 0, 0);
    color: white;
}

.navbar-nav{
    padding-left: 40px;
}

.navbar-expand-sm{
    padding-left: 50px;
}
.navbar-brand{
	padding-right: 10px;
}
.ff{
	padding-right: 20px;
}
.eff{
	padding-left: 10px;
}
.ttle{
	font-family: Papyrus;
	font-size: 350%;
	text-align: center;
	text-shadow: 0 0 20px #000000;
	font-weight: 900;
}
.responsive {
    width: 95%;
    height: auto;
}
.sha{
	padding-left: 70px;
	padding-right: 40px;
}
.it{
    font-family: Alisandra Demo;
    color: #ff0000;
    font-size: 200%;
    text-align: center;
}
.itt{
    color: white;
    font-family: Arial;
    font-size: 150%;
    text-align: center;
}
.imag {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.siz{
    width: 80%;
    height: auto;
}
.bc{
    background-color: #1d1d1d;
}
/*--------------------------------------------------
--------------- words rotate -----------------------
---------------------------------------------------*/

.rw-words{
    display: inline-block; 
    min-width: 180px; 
    min-height: 29px;
    text-align: left; 
    text-indent: 4px;
    margin-left: 10px;
}
.rw-words-1 span{
    position: absolute;
    font-weight: bold;
    opacity: 0;
    -webkit-animation: rotateWord 18s linear infinite 0s;
    -ms-animation: rotateWord 18s linear infinite 0s;
    animation: rotateWord 18s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
    -ms-animation-delay: 3s; 
    animation-delay: 3s; 
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
    -ms-animation-delay: 6s; 
    animation-delay: 6s; 
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
    -ms-animation-delay: 9s; 
    animation-delay: 9s; 
}
.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
    -ms-animation-delay: 12s; 
    animation-delay: 12s; 
}
.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
    -ms-animation-delay: 15s; 
    animation-delay: 15s; 
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
2% { opacity: 0; -webkit-transform: translateY(-30px); }
5% { opacity: 1; -webkit-transform: translateY(0px);}
17% { opacity: 1; -webkit-transform: translateY(0px); }
20% { opacity: 0; -webkit-transform: translateY(30px); }
80% { opacity: 0; }
100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
2% { opacity: 0; -ms-transform: translateY(-30px); }
5% { opacity: 1; -ms-transform: translateY(0px);}
17% { opacity: 1; -ms-transform: translateY(0px); }
20% { opacity: 0; -ms-transform: translateY(30px); }
80% { opacity: 0; }
100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
80% { opacity: 0; }
100% { opacity: 0; }
}
@media screen and (max-width: 768px){
    .rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
    .rw-sentence { font-size: 9px; }
}

.clr{
	color: #ff0000;
}

 hr {
    padding: 0 0 0 0;
    margin: 15px 0 10px 0;
    height: 5px;
    width: 100%;
    background: rgba(251,251,251,0.9);
    display: inline-table;
    border: 0;
}
.dow{
	padding-top: 10%;
}
.shad{
	text-shadow: 0 0 20px #000000;
	text-align: center;
}
.ar{
	font-family: Arial;
}
.bl{
	font-weight: bold;
}

/*
===============================================
------------- Media queries ---------------
===============================================
*/

@media screen and (max-width: 992px){
	
	.section_general {
	   margin: 0 20px;
	}

    .home-profile-image {
        margin-top: 40px;
    }
    #header {
        left: -320px;
        -moz-transition: -moz-transform 350ms ease;
        -o-transition: -o-transform 350ms ease;
        -webkit-transition: -webkit-transform 350ms ease;
        transition: transform 350ms ease;
    }

    #wrappers .header-main {
        display:block;
    }
    #main {
        margin-left: 0;
        margin-top: 60px;
        -moz-transition: -moz-transform 350ms ease;
        -o-transition: -o-transform 350ms ease;
        -webkit-transition: -webkit-transform 350ms ease;
        transition: transform 350ms ease;
    }
    #map_canvas {
        height: 100% !important;
        width: 100% !important;
    }
    #contentContact {
        top: 60px;
    }
    #tabs,
    .my_profile .image_profile{
        display: none !important;
    }

    #tabs_resp{
        display: block !important;
    }
    .my_profile .image_profile_resp{
        display: block !important;
        background-color: #f3f0f0;
    }
    #contentContact .contact_closed{
        display: block !important;
    }

    #contentContact {
        top: 60px;
    }
    .single-portfolio .content .content-split {
        border-bottom: 1px solid #E0E0E0;
        border-right: none;
        margin-bottom: 30px;
    }

    .single-portfolio .content {
        margin-bottom: 20px;
    }
    #main section.layers {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
    }
    #main section.layers.page_current {
        z-index: 1;
        opacity: 1;
        -webkit-transition: opacity .6s ease-in-out;
        -moz-transition: opacity .6s ease-in-out;
        -o-transition: opacity .6s ease-in-out;
        -ms-transition: opacity .6s ease-in-out;
        transition: opacity .6s ease-in-out;
    }
    .para_serv {
        margin-bottom: 15px;
    }
    .testimonials div.li-testimonials,
    .testimonials div.li-testimonials.last_testimonials,
    .clients div.li-clients,
    .clients div.li-clients.last_clients{
        border: 0;
        border-bottom: 1px dashed #e1e1e1;
    }
    .testimonials div.li-testimonials:last-child,
    .clients div.li-clients:last-child	{
        border-bottom: 0;
    }
	.my_profile,
	.my_profile .info_profile h2	{
		text-align: center;
	}
	.services_3 .services_item {
	  margin-bottom: 30px;
	}
	.services_3 .services_item:last-child {
	  margin-bottom: 0;
	}
	#mapContainer {
		width: 100%;
	}
}
@media screen and (max-width: 768px){
    #portfoliolist .portf_detail {
        position: absolute;
        width: 100%;
        bottom: 10%;
    }
}
@media screen and (max-width: 736px){

    .single-portfolio .fc-page-title-breadcrumbs .fc-page-title .fc-page-title-wrapper,
    .my_profile {
        text-align: center;
    }

    .single-portfolio .fc-page-title-breadcrumbs .fc-page-title .fc-page-title-wrapper .fc-page-title-captions {
        display: block;
        vertical-align: middle;
        width: 100%;
        margin: 20px 0 10px 0;
    }

    .single-portfolio .fc-page-title-breadcrumbs ul.breadcrumbs {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: left;
        text-align: center;
    }

    .portfolios .grid div.view{
        width: 50% !important;
    }

}

@media screen and (max-width: 490px){

    .portfolios .grid div.view {
        width: 100% !important;
    }
	.service-content {
		margin-top: 50px;
	}

    #portfoliolist .portf_detail {
        bottom: 20% !important;
    }

    #genre-filter li.label_filter {
        text-align: left;
    }

    #genre-filter li,
    .my_profile {
        border-top: 1px solid #eaeaea;
        border-left: 0;
        float: none;
        text-align: center;
    }

}
@media screen and (max-width: 414px){
    .home-details h2.name_users,
    .my_profile{
        font-size: 40px;
    }
    .home-details h3.desc_users,
    .my_profile{
		font-size: 25px;
	}
    p.medium,
    .my_profile {
        font-size: 14px;
    }
    .home-profile-image{
        margin-top: 30px;
    }
    .no-padd-left {
        padding-left: 0;
        padding-right: 0;
    }
    .single-portfolio .fc-page-title-breadcrumbs {
        padding-left: 0;
        padding-right: 0;
    }
    .btn_close_port {
        top: 30%;
        right: 7px;
        line-height: 30px;
        width: 30px;
    }
}
@media screen and (max-width: 375px){

    #header .menu_closed{
        display: block !important;
    }
    #contentContact.two {
        width: 100% !important;
    }
    .single-portfolio .fc-page-title-breadcrumbs {
        height: 100%;
        padding-bottom: 15px;
    }
    .home-details h2.name_users,
    .my_profile{
        font-size: 30px;
    }
    .home-details h3.desc_users,
    .my_profile{
		font-size: 18px;
	}
    p.medium,
    .my_profile {
        font-size: 12px;
        line-height: 20px;
    }
    .home-profile-image{
        margin-top: 20px;
    }
    .home-details .social li a,
    .my_profile {
        font-size: 18px;
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
    .my_profile .info_profile h2,
    .my_profile {
        font-size: 30px;
    }
    .image_profile_resp .home_profile_resp {
        margin-bottom: 0px;
    }
    .bg_desc .inner-text {
        padding-top: 20px;
    }
    .my_profile .info_profile .inner-text ul li strong {
        width: inherit;
    }
    .section-header h3,
    .my_profile {
        font-size: 17px;
    }
    .section-header p,
    .my_profile {
        font-size: 13px;
		margin: 0 0 15px;
    }
    .para_serv {
        margin-bottom: 15px;
    }
    .nav-tabs>li {
        width: 100%;
        margin-bottom: 1px;
        margin-right: 0;
    }
    .testimonials div.li-testimonials,
    .testimonials div.li-testimonials.last_testimonials,
    .clients div.li-clients,
    .clients div.li-clients.last_clients{
        border: 0;
        border-bottom: 1px dashed #e1e1e1;
    }
    .testimonials div.li-testimonials:last-child,
    .clients div.li-clients:last-child	{
        border-bottom: 0;
    }
    .no-padd-left {
        padding-left: 0;
        padding-right: 0;
    }
    .single-portfolio .fc-page-title-breadcrumbs {
        padding-left: 0;
        padding-right: 0;
    }
    .btn_close_port {
        top: 30%;
        right: 7px;
        line-height: 30px;
        width: 30px;
    }
}

@media screen and (max-width: 240px){
    .portfolios .view p{
        display: none !important;
    }
}